* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 40em;

  font-family: Palatino, "Palatino Linotype", "Book Antiqua", Georgia, serif;
  font-size: 18px;
  line-height: 1.6;

  color: #111;
  background-color: #ffffff;
}

h1 {
  margin: 2em 0 0 0;
  font-size: 28px;
  font-weight: normal;
}

p {
  margin: 1em 0;
}

a {
  color: #111;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

hr {
  margin: 40px 0;
  border: none;
  border-top: 1px solid #ccc;
}

nav {
  font-size: 16px;
}

nav a {
  margin-right: 24px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
